.btn-group {
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.pager {
    margin-top:  10px;
    margin-left: 0.5px;
    margin-right: 0.5px;
    .pager-title{
        float:left;
    }
    .ngb-pagination{
        float:left;
    }
}

.datasheet{
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 10px;
}
