.pager {
    margin-top:  10px;
    margin-left: 0.5px;
    margin-right: 0.5px;
    .pager-title{
        float:left;
    }

    display: inline-block;
    width:30%;
    right:0px;
}

.btn-group {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;

    display: inline-block;
    position:absolute;
    width:30%;
    left:0px;
}

.datasheet{
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 10px;
}
