<div class="btn-group">
  <nav>
    <a routerLink="/input-define" routerLinkActive="selected-item" class="btn btn-outline-primary active">DEFINE</a>
    <a routerLink="/input-combine" routerLinkActive="selected-item" class="btn btn-outline-primary">COMBINE</a>
    <a routerLink="/input-pickup" routerLinkActive="selected-item" class="btn btn-outline-primary">PICKUP</a>
  </nav>
</div>

<div class="datasheet">
  <hot-table class="hot" [data]="defineData" [colHeaders]="true" [rowHeaders]="rowHeaders" [height]="500" [width]="300"
    [settings]="hotTableSettings" licenseKey="non-commercial-and-evaluation">
    <hot-column *ngFor="let c of defineColums;" [data]="c" [title]="c"></hot-column>
  </hot-table>
</div>

<div style="width:900px;">
  <div class="pager">  
    <form [formGroup]="myControl">
      <ul class="pagenation">
        <li>《</li>
        <li id="101" (click)="pagenationShow(111)" class="list"><a href="/" id="111">{{page_2}}</a></li>
        <li id="102" (click)="pagenationShow(211)" class="list"><a href="/" id="211" >{{page_1}}</a></li>
        <li id="103" (click)="pagenationShow(311)" class="list"><a href="/" id="311" >{{page0}}</a></li>
        <li id="104" (click)="pagenationShow(411)" class="list"><a href="/" id="411" >{{page11}}</a></li>
        <li id="105" (click)="pagenationShow(511)" class="list"><a href="/" id="511" >{{page12}}</a></li>
        <li>》</li>
      </ul>
      <div>
        <mat-form-field>
          <input type="number" matInput matType="number" formControlName="number2" class="pageNum">
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="click()">click</button>
    </form>
    <!-- <p class="message">{{message}}</p> -->
  </div>

</div>
