<div class="invoicetTable loadBasic">
    <h2>基本荷重データ</h2>
    <table>
      <tr>
        <th class="case" colspan="4">Case</th>
        <th class="conditions" colspan="4">構造系条件</th>
      </tr>
      <tr>
        <th class="id">No</th>
        <th class="k">割増係数</th>
        <th class="sign">記号</th>
        <th class="name">荷重名称</th>
        <th class="node">支点</th>
        <th class="section">断面</th>
        <th class="spring">バネ</th>
        <th class="conection">結合</th>
      </tr>
      <tr *ngFor="let data of loadName_dataset">
        <td class="id">{{data[0]}}</td>
        <td class="k">{{data[1]}}</td>
        <td class="sign">{{data[2]}}</td>
        <td class="name">{{data[3]}}</td>
        <td class="node">{{data[4]}}</td>
        <td class="section">{{data[5]}}</td>
        <td class="spring">{{data[6]}}</td>
        <td class="conection">{{data[7]}}</td>
      </tr>
    </table>
  </div>
  <div class="invoicetTable loadBasic">
    <h2>実荷重データ</h2>

    <div *ngFor="let title of load_title; let i = index">
      <h3>{{title[0]}}</h3>
      <table>
        <tr>
          <th class="load" colspa>部材荷重</th>
          <th class="number" colspan="8">部材番号</th>
        </tr>
        <tr>
          <th class="id"></th>
          <th class="k">スタート</th>
          <th class="sign">エンド</th>
          <th class="name">方向</th>
          <th class="node">マーク</th>
          <th class="section">L1</th>
          <th class="spring">L2</th>
          <th class="conection">P1</th>
          <th class="conection">P2</th>
        </tr>
        <tr *ngFor="let data of load_member[i]">
          <td class="id">{{data[0]}}</td>
          <td class="k">{{data[1]}}</td>
          <td class="sign">{{data[2]}}</td>
          <td class="name">{{data[3]}}</td>
          <td class="node">{{data[4]}}</td>
          <td class="section">{{data[5]}}</td>
          <td class="spring">{{data[6]}}</td>
          <td class="conection">{{data[7]}}</td>
          <td class="conection">{{data[8]}}</td>
          <td class="conection">{{data[9]}}</td>

        </tr>
      </table>

      <table>
        <tr>
          <th class="id">節点荷重</th>
          <th class="k">節点番号</th>
          <th class="sign">Fx</th>
          <th class="name">Fy</th>
          <th class="node">Fz</th>
          <th class="section">Mx</th>
          <th class="spring">My</th>
          <th class="conection">Mz</th>
        </tr>
        <tr *ngFor="let data of load_node[i]">
          <td class="id">{{data[0]}}</td>
          <td class="k">{{data[1]}}</td>
          <td class="sign">{{data[2]}}</td>
          <td class="name">{{data[3]}}</td>
          <td class="node">{{data[4]}}</td>
          <td class="section">{{data[5]}}</td>
          <td class="spring">{{data[6]}}</td>
          <td class="spring">{{data[7]}}</td>
        </tr>
      </table>
    </div>
  </div>