.pager {
    margin:  10 0.5 0 0.5;
    
    .pager-title{
        float:left;
    }
    .ngb-pagination {
        float:left;
    }
   }

.datasheet{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  z-index: 1;
}
