<div class="pager">
  <div class="pager-title">タイプ</div>
  <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination" (pageChange)="loadPage($event)"></ngb-pagination>
  <button (click)="dialogClose()" class="dialog-close-button"><span>×</span></button>
</div>

<div class="datasheet">
  <hot-table class="hot" 
  [data]="dataset" 
  [colHeaders]="true" 
  [rowHeaders]="true" 
  [width]="640" 
  [height]="500"
  [settings]="hotTableSettings"
  licenseKey="non-commercial-and-evaluation">
    <hot-column data="n" title="節点No"></hot-column>
    <hot-column data="tx" title="X変位拘束"></hot-column>
    <hot-column data="ty" title="Y変位拘束"></hot-column>
    <hot-column data="tz" title="Z変位拘束"></hot-column>
    <hot-column data="rx" title="X回転拘束"></hot-column>
    <hot-column data="ry" title="Y回転拘束"></hot-column>
    <hot-column data="rz" title="Z回転拘束"></hot-column>
  </hot-table>
</div>