<div class="invoice" *ngFor="let invoice of invoiceIds; let i = index">
    <div class="invoicetTable">
      <table>
        <tr>
          <th class="id">No</th>
          <th class="x">部材No</th>
          <th class="y">節点No</th>
          <th class="z">着目位置</th>
        </tr>
        <tr *ngFor="let data of dataset">
          <td class="id">{{data[0]}}</td>
          <td class="x">{{data[1]}}</td>
          <td class="y">{{data[2]}}</td>
          <td class="z">{{data[3]}}</td>   
        </tr>
      </table>
    </div>
  
</div>
