<div class="invoice" *ngFor="let invoice of invoiceIds; let i = index">
  <div class="invoicetTable node">
    <h2>格点データ</h2>
    <table>
      <tr>
        <th class="id">No</th>
        <th class="x">部材No</th>
        <th class="y">節点No</th>
        <th class="z">着目位置</th>
      </tr>
      <tr *ngFor="let data of node_dataset">
        <td class="id">{{data[0]}}</td>
        <td class="x">{{data[1]}}</td>
        <td class="y">{{data[2]}}</td>
        <td class="z">{{data[3]}}</td>
      </tr>
    </table>
  </div>
  <div class="invoicetTable member">
    <h2>部材データ</h2>
    <table>
      <tr>
        <th class="id">No</th>
        <th class="I-TAN">I-TAN</th>
        <th class="J-TAN">J-TAN</th>
        <th class="L">L(m)</th>
        <th class="number">材料番号</th>
        <th class="code">コードアングル</th>
      </tr>
      <tr *ngFor="let data of member_dataset">
        <td class="id">{{data[0]}}</td>
        <td class="I-TAN">{{data[1]}}</td>
        <td class="J-TAN">{{data[2]}}</td>
        <td class="L">{{data[3]}}</td>
        <td class="number">{{data[4]}}</td>
        <td class="code">{{data[5]}}</td>
      </tr>
    </table>
  </div>
  <div class="invoicetTable elements">
    <h2>材料データ</h2>
    <div *ngFor="let title of elements_typeNum; let i = index">
      <h3>タイプ {{title}}</h3>
      <table>
        <tr>
          <th class="id">No</th>
          <th class="A">A</th>
          <th class="E">E</th>
          <th class="G">G</th>
          <th class="ESP">ESP</th>
          <th class="I" colspan="2">断面二次モーメント</th>
          <th class="twist" colspan="2">ねじり剛性</th>
        </tr>
        <tr>
          <th class="id"></th>
          <th class="A">(㎡)</th>
          <th class="E">(kN/㎡)</th>
          <th class="G">(kN/㎡)</th>
          <th class="ESP"></th>
          <th class="I">y軸周り</th>
          <th class="I">z軸周り</th>
          <th class="twist"></th>
        </tr>
        <tr *ngFor="let data of elements_dataset[i]">
          <td class="id">{{data[0]}}</td>
          <td class="A">{{data[1]}}</td>
          <td class="E">{{data[2]}}</td>
          <td class="G">{{data[3]}}</td>
          <td class="ESP">{{data[4]}}</td>
          <td class="I">{{data[5]}}</td>
          <td class="I">{{data[6]}}</td>
          <td class="twist">{{data[7]}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="invoicetTable fixNode">
    <h2>支点データ</h2>
    <!--
      fixNode_dataset[
        [ --------------------------------- 0
          data[id,tx, ty, tz, rx, ry, rz ]
          data[id,tx, ty, tz, rx, ry, rz ]
          data[id,tx, ty, tz, rx, ry, rz ]
          ...
        ],
        [ --------------------------------- 1
          data[tx, ty, tz, rx, ry, rz ]
          data[tx, ty, tz, rx, ry, rz ]
          data[tx, ty, tz, rx, ry, rz ]
          ...
        ]
      ]
      fixNode_title [
        title:1,    0
        title:2,    1
        title:5,    2
        title:10,   3
        title:3,    4
        title:12,   5
      ]
 -->
    <div *ngFor="let title of fixNode_typeNum; let i = index">
      <h3>タイプ {{title}}</h3>
      <table>
        <tr>
          <th class="id">格点No</th>
          <th class="TX">TX</th>
          <th class="TY">TY</th>
          <th class="TZ">TZ</th>
          <th class="RX">RX</th>
          <th class="RY">RY</th>
          <th class="RZ">RZ</th>
        </tr>
        <tr>
          <th class="id"></th>
          <th class="A">(㎡)</th>
          <th class="E">(kN/㎡)</th>
          <th class="G">(kN/㎡)</th>
          <th class="ESP"></th>
          <th class="I">y軸周り</th>
          <th class="I">z軸周り</th>
          <th class="twist"></th>
        </tr>
        <tr *ngFor="let data of fixNode_dataset[i]">

          <td class="id">{{data[0]}}</td>
          <td class="TX">{{data[1]}}</td>
          <td class="TY">{{data[2]}}</td>
          <td class="TZ">{{data[3]}}</td>
          <td class="RX">{{data[4]}}</td>
          <td class="RY">{{data[5]}}</td>
          <td class="RZ">{{data[6]}}</td>
          <!-- <td class="id">Type{{data[7]}}</td> -->
        </tr>
      </table>
    </div>
  </div>

  <div class="invoicetTable joint">
    <h2>結合データ</h2>
    <div *ngFor="let title of joint_typeNum; let i = index">
      <h3>タイプ {{title}}</h3>
      <table>
        <tr>
          <th class="id">部材No</th>
          <th class="i" colspan="3">i端側</th>
          <th class="j" colspan="3">j端側</th>
        </tr>
        <tr>
          <th class="id"></th>
          <th class="x">X</th>
          <th class="y">Y</th>
          <th class="j">Z</th>
          <th class="x">X</th>
          <th class="y">Y</th>
          <th class="j">Z</th>
        </tr>
        <tr *ngFor="let data of joint_dataset[i]">
          <td class="id">{{data[0]}}</td>
          <td class="x">{{data[1]}}</td>
          <td class="y">{{data[2]}}</td>
          <td class="z">{{data[3]}}</td>
          <td class="x">{{data[4]}}</td>
          <td class="y">{{data[5]}}</td>
          <td class="z">{{data[6]}}</td>
        </tr>
      </table>
    </div>

    <div class="invoicetTable member">
      <h2>着目点</h2>
      <table>
        <tr>
          <th class="id">部材No</th>
          <th class="long">部材長</th>
          <th class="L1">L1</th>
          <th class="L2">L2</th>
          <th class="L3">L3</th>
          <th class="L4">L4</th>
          <th class="L5">L5</th>
          <th class="L6">L6</th>
        </tr>
        <tr *ngFor="let data of notice_dataset">
          <td class="id">{{data[0]}}</td>
          <td class="long">{{data[1]}}</td>
          <td class="L1">{{data[2]}}</td>
          <td class="L2">{{data[3]}}</td>
          <td class="L3">{{data[4]}}</td>
          <td class="L4">{{data[5]}}</td>
          <td class="L5">{{data[6]}}</td>
          <td class="L6">{{data[7]}}</td>
        </tr>
      </table>
    </div>

    <div class="invoicetTable fixMember">
      <h2>バネデータ</h2>
      <div *ngFor="let title  of fixMember_typeNum; let i = index">
        <h3>タイプ{{title}}</h3>
        <table>
          <tr>
            <th class="id">部材No</th>
            <th class="TX">TX</th>
            <th class="TY">TY</th>
            <th class="TZ">TZ</th>
            <th class="TR">TR</th>
          </tr>
          <tr>
            <th class="id"></th>
            <th class="TX">(kN/m)</th>
            <th class="TY">(kN/m)</th>
            <th class="TZ">(kN/m)</th>
            <th class="TR">(kN/rad)</th>
          </tr>
          <tr *ngFor="let data of fixMember_dataset[i]">
            <td class="id">{{data[0]}}</td>
            <td class="TX">{{data[1]}}</td>
            <td class="TY">{{data[2]}}</td>
            <td class="TZ">{{data[3]}}</td>
            <td class="TR">{{data[4]}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="invoicetTable loadBasic">
      <h2>基本荷重データ</h2>
      <table>
        <tr>
          <th class="case" colspan="4">Case</th>
          <th class="conditions" colspan="4">構造系条件</th>
        </tr>
        <tr>
          <th class="id">No</th>
          <th class="k">割増係数</th>
          <th class="sign">記号</th>
          <th class="name">荷重名称</th>
          <th class="node">支点</th>
          <th class="section">断面</th>
          <th class="spring">バネ</th>
          <th class="conection">結合</th>
        </tr>
        <tr *ngFor="let data of loadName_dataset">
          <td class="id">{{data[0]}}</td>
          <td class="k">{{data[1]}}</td>
          <td class="sign">{{data[2]}}</td>
          <td class="name">{{data[3]}}</td>
          <td class="node">{{data[4]}}</td>
          <td class="section">{{data[5]}}</td>
          <td class="spring">{{data[6]}}</td>
          <td class="conection">{{data[7]}}</td>
        </tr>
      </table>
    </div>
    <div class="invoicetTable loadBasic">
      <h2>実荷重データ</h2>

      <div *ngFor="let title of load_title; let i = index">
        <p>{{title[0]}}:{{title[1]}}</p>
        <table>
          <tr>
            <th class="load" colspa>部材荷重</th>
            <th class="number" colspan="8">部材番号</th>
          </tr>
          <tr>
            <th class="id"></th>
            <th class="k">スタート</th>
            <th class="sign">エンド</th>
            <th class="name">方向</th>
            <th class="node">マーク</th>
            <th class="section">L1</th>
            <th class="spring">L2</th>
            <th class="conection">P1</th>
            <th class="conection">P2</th>
          </tr>
          <tr *ngFor="let data of load_member[i]">
            <td class="id">{{data[0]}}</td>
            <td class="k">{{data[1]}}</td>
            <td class="sign">{{data[2]}}</td>
            <td class="name">{{data[3]}}</td>
            <td class="node">{{data[4]}}</td>
            <td class="section">{{data[5]}}</td>
            <td class="spring">{{data[6]}}</td>
            <td class="conection">{{data[7]}}</td>
            <td class="conection">{{data[8]}}</td>
            <td class="conection">{{data[9]}}</td>

          </tr>
        </table>

        <table>
          <tr>
            <th class="id">節点荷重</th>
            <th class="k">節点番号</th>
            <th class="sign">Fx</th>
            <th class="name">Fy</th>
            <th class="node">Fz</th>
            <th class="section">Mx</th>
            <th class="spring">My</th>
            <th class="conection">Mz</th>
          </tr>
          <tr *ngFor="let data of load_node[i]">
            <td class="id">{{data[0]}}</td>
            <td class="k">{{data[1]}}</td>
            <td class="sign">{{data[2]}}</td>
            <td class="name">{{data[3]}}</td>
            <td class="node">{{data[4]}}</td>
            <td class="section">{{data[5]}}</td>
            <td class="spring">{{data[6]}}</td>
            <td class="spring">{{data[7]}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="invoicetTable loadBasic">
      <h2>DEFINEデータ</h2>
      <table>
        <tr>
          <th class="id">DefineNo.</th>
          <th class="k">C1</th>
          <th class="sign">C2</th>
          <th class="name">C3</th>
          <th class="node">C4</th>
          <th class="section">C5</th>
          <th class="spring">C6</th>
          <th class="conection">C7</th>
          <th class="conection">C8</th>
          <th class="conection">C9</th>
          <th class="conection">C10</th>
        </tr>
        <tr *ngFor="let data of define_dataset">
          <td class="id">{{data[0]}}</td>
          <td class="k">{{data[1]}}</td>
          <td class="sign">{{data[2]}}</td>
          <td class="name">{{data[3]}}</td>
          <td class="node">{{data[4]}}</td>
          <td class="section">{{data[5]}}</td>
          <td class="spring">{{data[6]}}</td>
          <td class="conection">{{data[7]}}</td>
          <td class="conection">{{data[8]}}</td>
          <td class="conection">{{data[9]}}</td>
          <td class="conection">{{data[10]}}</td>
        </tr>
      </table>
    </div>
    <div class="invoicetTable loadBasic">
      <h2>COMBINEデータ</h2>
      <table>
        <tr>
          <th class="id">CombNo.</th>
          <th class="sign">荷重名称</th>
          <th class="name">C1</th>
          <th class="name">C2</th>
          <th class="name">C3</th>
          <th class="node">C4</th>
          <th class="section">C5</th>
          <th class="spring">C6</th>
          <th class="conection">C7</th>
          <th class="conection">C8</th>
        </tr>
        <tr *ngFor="let data of comb_dataset">
          <td class="id">{{data[0]}}</td>
          <td class="k">{{data[1]}}</td>
          <td class="sign">{{data[2]}}</td>
          <td class="name">{{data[3]}}</td>
          <td class="node">{{data[4]}}</td>
          <td class="section">{{data[5]}}</td>
          <td class="spring">{{data[6]}}</td>
          <td class="conection">{{data[7]}}</td>
          <td class="conection">{{data[8]}}</td>
          <td class="conection">{{data[9]}}</td>
        </tr>
      </table>
    </div>
    <div class="invoicetTable pickup">
      <h2>PICKUPデータ</h2>
      <table>
        <tr>
          <th class="id">No.</th>
          <th class="sign">荷重名称</th>
          <th class="name">C1</th>
          <th class="name">C2</th>
          <th class="name">C3</th>
          <th class="node">C4</th>
          <th class="section">C5</th>
          <th class="spring">C6</th>
          <th class="conection">C7</th>
          <th class="conection">C8</th>
          <th class="conection">C9</th>
          <th class="conection">C10</th>
        </tr>
        <tr *ngFor="let data of pickup_dataset">
          <td class="id">{{data[0]}}</td>
          <td class="k">{{data[1]}}</td>
          <td class="sign">{{data[2]}}</td>
          <td class="name">{{data[3]}}</td>
          <td class="node">{{data[4]}}</td>
          <td class="section">{{data[5]}}</td>
          <td class="spring">{{data[6]}}</td>
          <td class="conection">{{data[7]}}</td>
          <td class="conection">{{data[8]}}</td>
          <td class="conection">{{data[9]}}</td>
          <td class="conection">{{data[10]}}</td>
          <td class="conection">{{data[11]}}</td>

        </tr>
      </table>
    </div>







  </div>
