<div class="btn-group">
  <nav>
    <a routerLink="/input-define" routerLinkActive="selected-item" class="btn btn-outline-primary">DEFINE</a>
    <a routerLink="/input-combine" routerLinkActive="selected-item" class="btn btn-outline-primary active">COMBINE</a>
    <a routerLink="/input-pickup" routerLinkActive="selected-item" class="btn btn-outline-primary">PICKUP</a>
  </nav>
</div>

<div class="pager">
  <div class="pager-title">ページ</div>
  <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination" (pageChange)="loadPage($event)">
  </ngb-pagination>
</div>

<div class="datasheet">
  <hot-table class="hot" 
  [data]="combineData" 
  [colHeaders]="true" 
  [rowHeaders]="rowHeaders" 
  [height]="500"
  [width]="900"
  [settings]="hotTableSettings"
  licenseKey="non-commercial-and-evaluation">
    <hot-column *ngFor="let c of combineColums; index as i" [data]="c" [title]="combineTitles[i]"></hot-column>
  </hot-table>
</div>