<div class="datasheet" style="margin-top:32px">
  <hot-table class="hot" [data]="dataset" [colHeaders]="true" [rowHeaders]="rowHeaders" [width]="500" [height]="520"
    [settings]="hotTableSettings" licenseKey="non-commercial-and-evaluation">

    <hot-column data="m" title="部材No"></hot-column>
    <hot-column data="len" title="部材長" [readOnly]="true"></hot-column>
    <hot-column *ngFor="let c of colums;" [data]="c" [title]="c"></hot-column>
  </hot-table>
</div>


<div style="width:900px;" class="pagerArea">
  <div class="pager">
    <form [formGroup]="myControl">
      <ul class="pagenation">
        <li><a id="prev" link="150" (click)="moveToNextPage(-5, 150)" class="list" aria-label="Previous">《</a></li>
        <li><a link="151" (click)="moveToNextPage(-2,101)" id="151" class="list">{{page_2}}</a></li>
        <li><a link="152" (click)="moveToNextPage(-1,102)" id="152" class="list">{{page_1}}</a></li>
        <li><a link="153" (click)="moveToNextPage(0,103)" id="153" class="list">{{page0}}</a></li>
        <li><a link="154" (click)="moveToNextPage(1,104)" id="154" class="list">{{page11}}</a></li>
        <li><a link="155" (click)="moveToNextPage(2,105)" id="155" class="list">{{page12}}</a></li>
        <li><a id="next" link="156" (click)="moveToNextPage(5, 156)" class="list" aria-label="Next">》</a></li>
      </ul>
      <div>
        <mat-form-field>
          <input type="number" matInput matType="number" formControlName="number2" class="pageNum">
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="click()">click</button>
    </form>
    <!-- <p class="message">{{message}}</p> -->
  </div>
</div>
