<div class="pager">
  <div class="pager-title">ページ</div>
  <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination" (pageChange)="loadPage($event)"></ngb-pagination>
</div>

<div class="datasheet">
  <hot-table class="hot" 
  [data]="dataset" 
  [colHeaders]="true" 
  [rowHeaders]="rowHeaders" 
  [width]="500" 
  [height]="520"
  [settings]="hotTableSettings"
  licenseKey="non-commercial-and-evaluation">

    <hot-column data="m"  title="部材No"></hot-column>
    <hot-column data="len" title="部材長" [readOnly]="true"></hot-column>
    <hot-column *ngFor="let c of colums;" [data]="c" [title]="c"></hot-column>
  </hot-table>
</div>