<div class="pager">
  <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
</div>

<div class="datasheet">
  <hot-table class="hot" [data]="dataset" [colHeaders]="true" [rowHeaders]="false" 
  [width]="700" [height]="500">
    <hot-column data="id" [readOnly]="true" title="材料No"></hot-column>
    <hot-column data="E" title="弾性係数"></hot-column>
    <hot-column data="G" title="せん断弾性係数"></hot-column>
    <hot-column data="Xp" title="膨張係数"></hot-column>
    <hot-column data="A" title="断面積"></hot-column>
    <hot-column data="J" title="ねじり定数"></hot-column>
    <hot-column data="Iy" title="断面二次Iy"></hot-column>
    <hot-column data="Iz" title="断面二次Iz"></hot-column>
  </hot-table>
</div>
