<div class="header">
    <div class="container">
        <div class="liner">
            <img src="./assets/img/logo.png" />
            <div class="title-and-menu">
                <h1>立体骨組構造解析ソフトver1.0.1</h1>
                <app-menu></app-menu>
            </div>
        </div>
    </div>
</div>
<div class="body-container">
    <div class="btn-group">
        <nav>
            <a routerLink="./input-nodes"><button (click)="contentsDailogShow(0)" routerLinkActive="selected-item"
                id="0" class="btn-md btn-blue">節点</button></a>
            <a routerLink="./input-fix_nodes" ><button (click)="contentsDailogShow(1)" routerLinkActive="selected-item"
                id="1" class="btn-md btn-blue">支点</button></a>
            <a routerLink="./input-members"><button (click)="contentsDailogShow(2)" routerLinkActive="selected-item"
                id="2" class="btn-md btn-blue">部材</button></a>
            <a routerLink="./input-elements"><button  (click)="contentsDailogShow(3)" routerLinkActive="selected-item"
                id="3" class="btn-md btn-blue" >材料</button></a>
                <a routerLink="./input-joints"><button (click)="contentsDailogShow(4)" routerLinkActive="selected-item"
                    id="4"  class="btn-md btn-blue">パネル</button></a>
            <a routerLink="./input-joints"><button (click)="contentsDailogShow(5)" routerLinkActive="selected-item"
                id="5"  class="btn-md btn-blue">結合</button></a>
            <a routerLink="./input-notice_points"><button (click)="contentsDailogShow(6)" routerLinkActive="selected-item"
                id="6"  class="btn-md btn-blue">着目点</button></a>
            <a routerLink="./input-fix_members"><button (click)="contentsDailogShow(7)" routerLinkActive="selected-item"
                id="7"  class="btn-md btn-blue">バネ</button></a>
            <a routerLink="./input-load-name"><button  (click)="contentsDailogShow(8)" routerLinkActive="selected-item"
                id="8" class="btn-md btn-blue">荷重</button></a>
            <a routerLink="./input-define"><button  (click)="contentsDailogShow(9)" routerLinkActive="selected-item"
                id="9"  class="btn-md btn-blue">組み合わせ</button></a>
            <a routerLink="./result-disg" *ngIf="isCalculated" ><button (click)="contentsDailogShow(10)"
                id="10"  class="btn-md btn-blue Calculated">変位</button></a>
            <a routerLink="./result-reac" *ngIf="isCalculated" ><button (click)="contentsDailogShow(11)"
                id="11"  class="btn-md btn-blue Calculated">支点反力</button></a>
            <a routerLink="./result-fsec" *ngIf="isCalculated"><button (click)="contentsDailogShow(12)"
                routerLinkActive="selected-item" id="12" class="btn-md btn-blue Calculated">基本荷重断面力</button></a>
        </nav>
    </div>
</div>
<div class="boy-container"  id="body-container-id">
<div class="three-container" id="three-container-id">
    <app-three></app-three>
</div>
</div>

<div cdkDrag *ngIf="user.isContentsDailogShow" class="contents-dailog" id="contents-dialog-id">
    <!-- ドラッグハンドルをテーブルの後ろに敷いて、テーブル領域以外がドラッグされたらcontetns-dialogを移動するイメージ -->
  <div class="dialog-header">
        <div cdkDragHandle class="dialog-drag-handle">
        </div>
        <div class="button-area">
        <button (click)="dialogClose()" class="dialog-close-button"><span>×</span></button>
        </div>
  </div>
    <router-outlet></router-outlet>
</div>