$border-color: #428bca; // ボーダーライン

h1 {
  font-size: 20px;
  color: black;
}


.header {
  padding:16px;
  z-index: 10;
  .container {
    max-width: 100%;
  }
	.liner {
		align-items: left;
		display: flex;
	}
	.title-and-menu {
		border-bottom: 1px solid $border-color;
		padding: 16px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex: 1 0 auto;
	}
	
}
.body-container {
  width: 100%;
  margin:0;
  padding: 0 16px;
}

.three-container {
  width: 100%;
  margin-top: 5px;
}

.contents-dailog {
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 110px;
  margin: 0;
  z-index: 100;
  overflow: scroll;
  display: inline;
  resize:both;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.contents-dailog:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dialog-close-button {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.dialog-close-button:hover {
  opacity: 1;
}
.dialog-close-button:before, .dialog-close-button:after {
  position: absolute;
  left: 15px;
  top: 0px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.dialog-close-button:before {
  transform: rotate(45deg);
}
.dialog-close-button:after {
  transform: rotate(-45deg);
}

.dialog-drag-handle {
  cursor: move;
  position: absolute;
  width:100%;
  height:70px;
}


.btn-md  {
  width:100px;
  line-height: normal;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  display: inline-block;
  text-align: center;
}
    
.btn-blue {
  background-color: #fff;
  border: 1px solid #dddddd;
  color:#333333;
}