<div class="header">
    <div class="container">
        <div class="liner">
            <img src="./assets/img/logo.png" />
            <div class="title-and-menu">
                <h1>立体骨組構造解析ソフトver1.0.1</h1>
                <app-menu></app-menu>
            </div>
        </div>
    </div>
</div>
<div class="body-container">
    <div class="btn-group">
        <nav>
            <a routerLink="./input-nodes" (click)="contentsDailogShow(0)" routerLinkActive="selected-item"
                id="0"><button class="btn-md btn-blue">節点</button></a>
            <a routerLink="./input-fix_nodes" (click)="contentsDailogShow(1)" routerLinkActive="selected-item"
                id="1"><button class="btn-md btn-blue">支点</button></a>
            <a routerLink="./input-members" (click)="contentsDailogShow(2)" routerLinkActive="selected-item"
                id="2"><button class="btn-md btn-blue">部材</button></a>
            <a routerLink="./input-elements" (click)="contentsDailogShow(3)" routerLinkActive="selected-item"
                id="3"><button class="btn-md btn-blue">材料</button></a>
            <a routerLink="./input-joints" (click)="contentsDailogShow(4)" routerLinkActive="selected-item"
                id="4"><button class="btn-md btn-blue">結合</button></a>
            <a routerLink="./input-notice_points" (click)="contentsDailogShow(5)" routerLinkActive="selected-item"
                id="5"><button class="btn-md btn-blue">着目点</button></a>
            <a routerLink="./input-fix_members" (click)="contentsDailogShow(6)" routerLinkActive="selected-item"
                id="6"><button class="btn-md btn-blue">バネ</button></a>

            <a routerLink="./input-load-name" (click)="contentsDailogShow(7)" routerLinkActive="selected-item"
                id="7"><button class="btn-md btn-blue">荷重</button></a>

            <a routerLink="./input-define" (click)="contentsDailogShow(8)" routerLinkActive="selected-item"
                id="8"><button class="btn-md btn-blue">組み合わせ</button></a>
            <a routerLink="./result-disg" *ngIf="isCalculated" (click)="contentsDailogShow(9)"
                id="9"><button class="btn btn-outline-primary">変位</button></a>
            <a routerLink="./result-reac" *ngIf="isCalculated" (click)="contentsDailogShow(10)"
                [class]="btnReac" id="10"><button class="btn-md btn-blue">支点反力</button></a>
            <a routerLink="./result-fsec" *ngIf="isCalculated" (click)="contentsDailogShow(11)"
                routerLinkActive="selected-item" id="11"><button class="btn-md btn-blue">基本荷重断面力</button></a>
        </nav>
    </div>
</div>
<div class="body-container"  id="body-container-id">
<div class="three-container" id="three-container-id">
    <app-three></app-three>
</div>
</div>

<div cdkDrag *ngIf="isContentsDailogShow" class="contents-dailog" id="contents-dialog-id">
    <!-- ドラッグハンドルをテーブルの後ろに敷いて、テーブル領域以外がドラッグされたらcontetns-dialogを移動するイメージ -->
    <div cdkDragHandle class="dialog-drag-handle"></div>
    <button (click)="dialogClose()" class="dialog-close-button"></button>
    <router-outlet></router-outlet>
</div>