$border-color: #428bca; // ボーダーライン

.header {
  display: flex;
  color: #fff;
  background-color: #808000;
  z-index: 10;

  .container {
    position: relative;
    max-width: 100%;
    padding-right: 8px !important;
  }
}


.input-area{
  display: inline-block;
  margin: 0 auto;
  padding-right: 4px;
}

.output-area{
  display: inline-block;
  margin: 0 auto;
  padding-left: 4px;
  border-left: 1px solid #333333;
}

.guide{
  margin: 0 auto;
  font-size: 8px;
  text-align: center;
  font-weight: 550;

}


.btn-group{
  margin-top:4px;
  a {
    text-decoration: none;
    min-width: 60px;
    padding: 8px 0;
    line-height: normal;
    margin: 0;
    font-size: 12px;
    display: inline-block;
    text-align: center;

    p {
      margin: 4px 0 0 0;
      font-size: 10px;
    }
  }
}

.btn-blue {
  background-color: #ffffff;
  color: #333333;
}

.btn-blue:hover {
  cursor: pointer;
  opacity: 0.7;
  color: #333333;
  background-color: #dcdcdc;
}

.btn-blue:active {
  border: 1px solid #808080;
}

.btn-blue:not(:disabled):not(.disabled).active {
  color: #ffffff;
  background-color: #808080;
}

.icon-img{
  min-height: 50px;
}

.icon-img.ppt{
  padding-top:6px;
}

.body-container {
  width: 100%;
  margin: 0;
  padding: 0 16px;
}

.three-container {
  width: 100%;
  margin-top: 5px;
}

.contents-dailog {
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 180px;
  left: 16px;
  margin: 0;
  z-index: 456789;
  overflow: scroll;
  display: inline;
  resize: both;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.contents-dailog:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dialog-close-button {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  min-height: 36px;
  min-width: 50px;

  span {
    font-size: 20px;
  }
}

.dialog-close-button:hover {
  opacity: 0.7;
  background-color: #EE0000;
}

.dialog-header {
  display: flex;
  color: #fff;
  background-color: #333333;

  .dialog-drag-handle {
    padding: 4px 16px 8px 16px;
    cursor: move;
    width: 100%;
  }

}

#myCanvas {
  width: 100% !important;
}


