.conbine-title {
    margin-top: 32px;
    &.acd {
        margin: 0;
    }
}

.result_table {
    table {
        width: 100%;
        margin-top: 32px;

        &.acd {
            margin: 0;
        }

        thead,
        tbody {
            display: block;
        }

        tbody {
            overflow-y: scroll;
            height: 300px;
        }

        th,
        td {
            table-layout: fixed;
        }

        td {
            border: 0.5px solid #333333;
            font-size: 16px;
        }
        th {
            font-size: 12px;
            font-weight: initial;
            border: 0.5px solid #333333;
            color: #ffffff;
            background-color: #888888;
            &.mx,&.my,&.mz{
                font-size: 11px;
            }
        }

        .result_detail {
            &:nth-child(2n + 1) {
                .buzai {
                    display: none;
                }
            }
        }
    }

    &.disg {
        .id {
            width: 62px;
            min-width: 62px;
        }

        .dx,
        .dy,
        .dz,
        .rx,
        .ry,
        .rz,
        .case {
            width: 100px;
            min-width: 100px;
        }
    }

    &.reac {
        .id {
            width: 62px;
            min-width: 62px;
        }

        .tx,
        .ty,
        .tz,
        .mx,
        .my,
        .mz,
        .case {
            width: 100px;
            min-width: 100px;
        }

 
    }

    &.fsec {
        .m ,.n{
            width: 62px;
            min-width: 62px;
        }

        
        .l,
        .fx,
        .fy,
        .fz,
        .mx,
        .my,
        .mz,
        .case {
            width: 100px;
            min-width: 100px;
        }
    }
}

.acd-check {
    display: none;
}
.acd-label {
    background: #808080;
    color: #fff;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
    position: relative;
    :hover {
        cursor: pointer;
        opacity: 0.7;
    }
}
.acd-label:after {
    background: #808080;
    box-sizing: border-box;
    display: block;
    font-family: "Font Awesome 5 Free";
    height: 50px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0px;
}
.acd-content {
    border: 0 1px solid #333;
    display: block;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: 0.5s;
    visibility: hidden;
}

.acd-check:checked + .acd-label + .acd-content {
    height: auto;
    opacity: 1;
    padding: 16px 8px;
    visibility: visible;
}

.fa-sort-down {
    float: right;
    font-size: 20px;
}
