.datasheet_inner {
    width: 1000px;
    margin-top: 20px;
}

.btn-group {
    display: flex;
    width: 1000px;
    padding: 0 16px;
    margin-right: auto;
}

.pager {
    margin-left: 0.5px;
    margin-right: 0.5px;
    .pager-title {
        float: left;
    }
}
