.btn-group {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;

    display: inline-block;
    position:absolute;
    width:30%;
    left:0px;
}

.pager {
    margin-top:  10px;
    margin-left: 100px;
    margin-right: 0.5px;
    .pager-title{
        float: left;
    }
    .ngb-pagination{
        float: left;
    }
    
    display: inline-block;
}

.tabset {
    margin-left: 15px;
    z-index: 110;
    cursor: auto;
}

.datasheet{
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.nav-item{
  z-index: 110;
  cursor: auto;
}