<div class="force">
  <div class="btn-group">
    <nav>
      <a routerLink="/input-load-name" routerLinkActive="selected-item" class="btn btn-outline-primary active">荷重名称</a>
      <a routerLink="/input-loads" routerLinkActive="selected-item" class="btn btn-outline-primary">荷重強度</a>
    </nav>
  </div>


  <div style="width:900px;" class="pagerArea">
    <div class="pager">
      <form [formGroup]="myControl">
        <ul class="pagenation">
          <li><a id="prev" link="120" (click)="moveToNextPage(-5, 120)" class="list" aria-label="Previous">《</a></li>
          <li><a link="121" (click)="moveToNextPage(-2,101)" id="121" class="list">{{page_2}}</a></li>
          <li><a link="122" (click)="moveToNextPage(-1,102)" id="122" class="list">{{page_1}}</a></li>
          <li><a link="123" (click)="moveToNextPage(0,103)" id="123" class="list">{{page0}}</a></li>
          <li><a link="124" (click)="moveToNextPage(1,104)" id="124" class="list">{{page11}}</a></li>
          <li><a link="125" (click)="moveToNextPage(2,105)" id="125" class="list">{{page12}}</a></li>
          <li><a id="next" link="126" (click)="moveToNextPage(5, 126)" class="list" aria-label="Next">》</a></li>
        </ul>
        <div>
          <!-- <mat-form-field>
            
            <mat-label></mat-label>
            <input placeholder="ページ" type="number" matInput matType="number" formControlName="number2" class="pageNum">
          </mat-form-field> -->
          <mat-form-field appearance="legacy">
            <mat-label>Legacy form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        
        </div>
        <button mat-raised-button (click)="click()">click</button>
      </form>
      <!-- <p class="message">{{message}}</p> -->
    </div>
  </div>

  <div class="datasheet">
    <hot-table class="hot" [data]="dataset" [colHeaders]="true" [rowHeaders]="rowHeaders" [width]="700" [height]="500"
      [settings]="hotTableSettings" licenseKey="non-commercial-and-evaluation">
      <hot-column data="rate" title="割増し係数"></hot-column>
      <hot-column data="symbol" title="記号"></hot-column>
      <hot-column data="name" title="名　　　称" [width]="300"></hot-column>
      <hot-column data="fix_node" title="支点"></hot-column>
      <hot-column data="fix_member" title="バネ"></hot-column>
      <hot-column data="element" title="断面"></hot-column>
      <hot-column data="joint" title="結合"></hot-column>
    </hot-table>
  </div>
</div>