//カスタマイズしたかったのでローカルにコピーしたものを使っている
// @import "~bootstrap/dist/css/bootstrap.css";
// @import '~handsontable/dist/handsontable.full.css'; 

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

