<!-- <div *ngIf="judge" class="pagerBreak"></div> -->
<div class="invoicetTable node">
  <h2>格点データ</h2>
  <tr *ngFor="let node_dataset of node_splid index as i">
  <table>
    <tr>
      <th class="id">No</th>
      <th class="x">X</th>
      <th class="y">Y</th>
      <th class="z">Z</th>
      <th class="id">No</th>
      <th class="x">X</th>
      <th class="y">Y</th>
      <th class="z">Z</th>
    </tr>
    <tr *ngFor="let data of node_dataset">
      <td class="id">{{data[0]}}</td>
      <td class="x">{{data[1]}}</td>
      <td class="y">{{data[2]}}</td>
      <td class="z">{{data[3]}}</td>
      <td class="id">{{data[4]}}</td>
      <td class="x">{{data[5]}}</td>
      <td class="y">{{data[6]}}</td>
      <td class="z">{{data[7]}}</td>
    </tr>
  </table>
</div>
