<div class="title-and-menu" id="disTitle">
    <div class="icon-area">
        <ul>
            <li>
                <div ngbDropdown>
                    <a class="icon file" id="dropdownBasic1" ngbDropdownToggle onfocus="this.blur();"><i class="far fa-file"></i
          ></a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="renew()">新規作成</button>
                        <label style="width: 100%; margin: 0px">
              <span ngbDropdownItem style="padding: 8px">
                ファイルを開く
                <input
                  type="file"
                  accept="application/json"
                  (change)="open($event)"
                  style="display: none"
                />
              </span>
            </label>
                        <button ngbDropdownItem (click)="save()">ファイルを保存</button>
                        <button ngbDropdownItem (click)="pickup()">
              ピックアップファイル出力
            </button>

            <!-- テスト用  -->
            <label style="width: 100%; margin: 0px">
              <span ngbDropdownItem style="padding: 8px">
                解析結果ファイルを開く
                <input
                  type="file"
                  accept="application/json"
                  (change)="resultopen($event)"
                  style="display: none"
                />
              </span>
            </label>
            <!-- テスト用 -->

                    </div>
                </div>
            </li>
            <li>
                <a (click)="calcrate()"><i class="fas fa-calculator"></i></a>
            </li>
            <li>
                <a routerLink="./print" (click)="contentsDailogShow(13)" routerLinkActive="selected-item" id="13"><i class="fi fi-print"></i></a>
            </li>
            <li>
                <a onClick="window.open('https://doboku-design-program.slack.com/archives/C0199TMHMA9','_blank')"><i class="far fa-question-circle"></i
        ></a>
            </li>
        </ul>
    </div>

    <div class="title">
        <h1>{{ fileName }}</h1>
    </div>

    <div class="login-area">
        <div *ngIf="!loggedIn">
            <a (click)="logIn()">
                <i class="fas fa-sign-in-alt"></i> ログイン
            </a>
        </div>

        <div *ngIf="loggedIn">
            <!-- <div ngbDropdown>
                <a id="dropdownBasic2" class="login-item" ngbDropdownToggle>
                    <i class="far fa-user-circle"></i> {{ loginUserName }}さん
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2" style="cursor: default !important">
                    <p ngbDropdownItem style="pointer-events: none; cursor: default !important">
                        保有ポイント:{{ userPoint }}ポイント
                    </p>-->
                   <!-- <button (click)="logOut()" ngbDropdownItem style="cursor: pointer !important">
             ログアウト
          </button>  -->
                <!-- </div>
            </div> -->
            <div *ngIf="auth.user | async as user">
              <h3><i class="far fa-user-circle"></i>ようこそ, {{ user.displayName }}さん</h3>
              <button (click)="auth.signOut()" (click)="logOut()">Logout</button>
            </div>
        </div>

    </div>
</div>


<!-- <div class="title-and-menu" id="disTitle">
    <div class="icon-area">
      <div class="col-xs-4 margin">
        <div ngbDropdown class="d-inline-block">
          <a class="icon file" id="dropdownBasic1" ngbDropdownToggle onfocus="this.blur();"><i
              class="far fa-file"></i></a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="renew()">新規作成</button>
            <label>
              <span ngbDropdownItem>
                ファイルを開く
                <input type="file" accept="application/json" (change)="open($event)" style="display:none" />
              </span>
            </label>
            <button ngbDropdownItem (click)="save()">ファイルを保存</button>
            <button ngbDropdownItem (click)="pickup()">ピックアップファイル出力</button>
          </div>
        </div>
      </div>

      <div class="col-xs-4 margin">
        <li class="d-inline-block">
          <a (click)="calcrate()"><i class="fas fa-calculator"></i></a>
          <p class="fukidashi calculator">計算</p>
        </li>
      </div>

      <div class="col-xs-4 margin">
        <li class="d-inline-block">
          <a routerLink="./input-print">
            <a (click)="print()"><i class="fas fa-print"></i></a>
            <i class="fas fa-print"></i>
            <p class="fukidashi print">印刷</p>
          </a>
        </li>
      </div>

      <div class="col-xs-4 margin">
        <li class="d-inline-block">
          <a onClick="window.open('https://doboku-design-program.slack.com/archives/C0199TMHMA9','_blank')"><i
              class="far fa-question-circle"></i></a>
          <p class="fukidashi help">ヘルプ</p>
        </li>
      </div>
    </div>

    <div class="title">
      <h1>{{fileName}}</h1>
    </div>

    <div class="login-area">
      <div class="col-xs-4 margin">
        <li *ngIf="!loggedIn" class="d-inline-block">
          <a (click)="logIn()">
            <i class="fas fa-sign-in-alt"></i>
            ログイン
          </a>
        </li>
        <div *ngIf="loggedIn" class="d-inline-block">
          <div ngbDropdown class="d-inline-block">
            <a id="dropdownBasic2" class="login-item" ngbDropdownToggle>
              <i class="far fa-user-circle"></i>
              {{loginUserName}}さん
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" style="cursor : default !important;">
              <p ngbDropdownItem style="pointer-events: none;cursor : default !important;">保有ポイント:{{userPoint}}ポイント</p>
              <button (click)="logOut()" ngbDropdownItem style=" cursor:pointer !important;">ログアウト</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->