$height_header: 40px;
$height_semiHeader: 32px;
$height_content: 20px;

// .invoice {
//   page-break-after: always;
// }

// .invoice:last-child {
//   page-break-after: avoid;
// }

@media print {
  .title-and-menu {
    display: none;
  }

  #contents-dialog-id {
    display: none;
  }
}

.pagerBreak{
  page-break-before: always;
}

.invoicetTable {
  h2 {
    height: $height_header;
    margin-top: 8px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 400;
    font-family: "ＭＳ Ｐゴシック";
  }

  h3 {
    height: $height_semiHeader;
    line-height: 32px;
    font-size: 16px;
    font-family: "ＭＳ 明朝";
  }

  table {
    font-family: "ＭＳ 明朝";
    font-size: 16px;
    // page-break-after: auto;
    th {
      height: $height_content;
      padding: 4px 8px;
      text-align: center;
      font-weight: 400;
      page-break-inside: avoid;
      // page-break-after:auto;
    }

    td {
      height: $height_content;
      padding: 4px 8px;
      text-align: right;
      page-break-inside: avoid;
      //page-break-after:auto;
    }
  }
}
