<div class="invoice">
  <!-- 格点データ -->
  <app-print-input-nodes>
  </app-print-input-nodes>
  <!-- 部材データ -->
  <app-print-input-members>
  </app-print-input-members>
  <!-- 材料データ -->
  <app-print-input-elements>
  </app-print-input-elements>
  <!-- 支点データ -->
  <app-print-input-fix-node>
  </app-print-input-fix-node>
  <!-- 結合データ -->
  <app-print-input-joint>
  </app-print-input-joint>
  <!-- 着目点 -->
  <app-print-input-notice-points>
  </app-print-input-notice-points>
  <!-- バネデータ -->
  <app-print-input-fix-member>
  </app-print-input-fix-member>
  <!-- 荷重データ -->
  <app-print-input-load>
  </app-print-input-load>
  <!-- DEFINEデータ -->
  <app-print-input-define>
  </app-print-input-define>
  <!-- COMBINEデータ -->
  <app-print-input-combine>
  </app-print-input-combine>
  <!-- PICKUPデータ -->
  <app-print-input-pickup>
  </app-print-input-pickup>
  <!-- 変位 -->
  <app-print-result-disg>
  </app-print-result-disg>
  <!-- 変位combine -->
  <app-print-result-combine-disg>
  </app-print-result-combine-disg>
  <!-- 支点反力 -->
  <app-print-result-reac>
  </app-print-result-reac>
  <!-- 支点反力combine -->
  <app-print-result-combine-reac>
  </app-print-result-combine-reac>
  <!-- 断面力 -->
  <app-print-result-fsec>
  </app-print-result-fsec>
  <!-- 断面力combine -->
  <app-print-result-combine-fsec>
  </app-print-result-combine-fsec>
</div>
