.invoice {
  page-break-after: always;
}

.invoice:last-child {
  page-break-after: avoid;
}

@media print {
  .title-and-menu {
    display: none;
  }

  #contents-dialog-id {
    display: none;
  }
}
.invoicetTable {
  margin: 8px 0;
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
  table {
    th {
      padding: 4px 8px;
      font-weight: 400;
    }

    td {
      padding: 4px 8px;
    }
  }
}
